/* TODO: Designe me. */

.terminal .terminal-output div div,
.cmd .prompt
{
    line-height: 120%;
}

.terminal,
.cmd
{
    font-size: 16px;
    line-height: 120%;
}

/* bootstrap padding */
body { padding-top: 51.5px }
.header { color: #fff; }

.terminal { border: 1px solid #0071BC; }
html,body { height:100%; }
.container {
   min-height:100%;
}

#footer {
  background-color: #F5F5F5;
}
